:root{
    --black:#1b1b1d;
    --black1:#1b1b1d80;
    --marron:#c1272d;
    --marron1:#720008;
    --marron2:#72000870;
    --white:#fff;
  }
  a{
    color: none;
    color: var(--white);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  
  html {
    font-size: 65.5%;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-size: 1.5rem;
    background: linear-gradient( rgba(0, 0, 0, 0.629),rgba(0, 0, 0, 0.629)),url(../img/background.jpg);
    background-size: cover;
  }
  /* barre de navigation */
  .container {
    max-width: 122rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  header {
    background: var(--marron1);
  }
  
  .navigation {
    height: 7rem;
    background: var(--marron1);
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .logo img {
    width: 4rem;
    height: auto;
  }
  
  .nav_menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav_list {
    display: inline-block;
    margin: 0 0.3rem;
  }
  .nav_list .nav_link {
    padding: 0.7rem 2rem;
    color: var(--white);
    font-weight: 600;
    border-radius: 0.6rem;
    transition: all 0.5s ease-in-out;
  }
  .nav_list .nav_link.active {
    background: var(--white);
    color: var(--black);
    font-weight: 600;
  }
  .sticky {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.4rem #464646;
    animation: sticky 0.5s ease-in-out;
  }
  
  @keyframes sticky {
    0% {
      transform: translateY(-7rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }
.Accueil,.Accueils{
    display: flex;
    /* height: 90vh; */
    align-items: center;
    /* background-color: yellowgreen; */
}
.Accueils{
  margin: 15rem 0;
  background: var(--black1);
  border-radius: 1rem;
}
.container_text{
    width: 50%;
    /* background-color: red; */
}
.container_text span{
    color: var(--marron);
    position: relative;
    text-transform: capitalize;
    font-weight: 700;  
    font-size: 2rem;
}

.container_text h1{
    font-size: 4rem;
    color: var(--white);
}
.container_text p{
    width: 80%;
    padding: 1rem 0;
    color: var(--white);
}
.container_img{
    width: 50%;
    /* background-color: rgb(81, 0, 0); */
}
.container_img img{
    width: 80%;
}

.social-media-list {
  position: relative;
  font-size: 2.2rem;
  text-align: center;
  width: 25%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 1rem;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px var(--marron);
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: var(--marron); 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: var(--white);
}
.card_box{
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
  color: var(--white);
}
.card{
  width: 20%;
  text-align: center;
}
.card i{
  font-size: 4rem;
  padding: 2rem 0;
}
.card h3{
  color: var(--marron);
  text-transform: capitalize;
}
.descrip{
  padding: 2rem 0;
}
.card::after{
  content: "";
  height: 2px;
  margin: 0 auto;
  display: block;
  width: 20%;
  background-color: var(--white);
  transition: 0.2s ease-in-out;
}
.card:hover::after{
  background-color: var(--marron);
  width: 100%;
}
.card:hover i{
  color: var(--white);
}
/* ****************************************************************parcours******************************************************** */
.Parcours_text{
  margin: 5rem 0;
}
.Parcours_text div aside:nth-child(1){
  color:var(--marron);
}
.Parcours_text div aside:nth-child(2){
  font-weight: bold;
  color:var(--white);
}
.Parcours_text div aside:nth-child(2) span{
  font-size: 1.8rem;
  color:var(--white);
}
.Parcours_text div aside:nth-child(3){
  color:var(--marron);
}
.Parcours_text div aside:nth-child(3) span{
  font-size: 1.8rem;
  color:var(--white);
}
.Parcours_text div{
 width: 75%;
 padding: 2rem 1rem;
 position: relative;
}
.Parcours_text div::after{
  content: "";
  position: absolute;
  height: 55%;
  width: 0.5rem;
  top: 50%;
  left: 0rem;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: var(--white);
}

/* ****************************************************************Realisations******************************************************** */
.Realisations{
  margin: 5rem 0;
  padding: 2rem;
  /* background-color: var(--black1); */
  border-radius: 1rem;
}
/* ****************************************************************contact******************************************************** */
.contact_text{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--marron1);
  margin: 6rem 0;
}
.boite_contact1{
  display: flex;
  align-items: center;
  background-color: var(--black1);
  width: 40%;
  border-radius: 1rem;
  padding: 0 2rem;
  margin: 5rem 0;
  
}
.contacts_text span{
  color: var(--white);
  font-weight: bold;
}
.contacts_text aside,.boite_contact1_icon{
  color: var(--white);
}
.contacts_text aside i{
  font-size: 3rem;
  margin: 0 1rem;
  color: var(--white);
}
.boite_contact1_icon{
  padding: 1rem 2rem;
  font-size: 3rem;
}
.contacts_text{
  width: 40%;
  padding: 2rem 1rem;
  position: relative;
 }
 .contacts_text::after{
   content: "";
   position: absolute;
   height: 55%;
   width: 0.5rem;
   top: 50%;
   left: 0rem;
   transform: translate(-50%, -50%);
   border-radius: 1rem;
   background-color: var(--white);
 }

 .footer1{
  width: 100%;
  background-color: var(--marron1);
  text-align: center;
  padding: 15px;
  color: var(--white);
}

